.swiper-button-next {
  color: white; /* Cambia el color deseado */
}

.swiper-button-prev {
  color: white; /* Cambia el color deseado */
}

.swiper-pagination-bullet {
  background: white; /* Cambia el color deseado */
}