@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.screen {
  background-image: url("/images/fondo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.screen-contact {
  background-image: url("/images/fondoLuz.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

